# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/

# WORDPRESS

/wp-admin/
/wp-content/index.php
/wp-content/wflogs/
/wp-content/uploads/
/wp-content/plugins/
/wp-content/themes/twentysixteen/
/wp-content/themes/twentyseventeen/
/wp-content/themes/twentyfifteen/
/wp-content/themes/index.php
/wp-content/languages/
/wp-includes/
/xmlrpc.php
/wp-trackback.php
/wp-signup.php
/wp-settings.php
/wp-mail.php
/wp-login.php
/wp-load.php
/wp-links-opml.php
/wp-cron.php
/wp-config.php
/wp-comments-post.php
/wp-blog-header.php
/wp-activate.php
/readme.html
/license.txt
/index.php
/.htaccess